@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/[20%] dark:border-white/[20%];
}

.borderBlack100 {
    @apply border border-black/[100%] dark:border-white/[100%];
}

.emailInput {
    @apply text-base rounded-xl borderBlack bg-gray-100 hover:bg-gray-200 text-black dark:text-white dark:bg-white dark:bg-opacity-[10%] dark:focus:bg-opacity-[25%] transition-all dark:outline-none;
}

.emailLabel {
    @apply text-left font-semibold text-gray-700 dark:text-white/80 focus-within:text-red-400 dark:focus-within:text-red-400;
}

/* react-tooltip config */
/* :root {
    --rt-color-white: #fff;
    --rt-color-dark: #222;
    --rt-color-success: #8dc572;
    --rt-color-error: #be6464;
    --rt-color-warning: #f0ad4e;
    --rt-color-info: #337ab7;
    --rt-opacity: 0.9;
    --rt-transition-show-delay: 0;
    --rt-transition-closing-delay: 0.15s;
  } */